@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;

  @include devices('mobile', 'tablet') {
    font-size: 14px;
  }
}

html {
  background-color: $black;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.text-highlight {
  color: $primary-1;
  text-shadow: 0 0 1.5em rgba($primary-1, 0.5);
}

.card {
  background-color: transparent;

  &:hover {
    background-color: rgba($primary-2, 0.05);
    box-shadow: 0 0 0.2em 0.2em rgba($primary-1, 0.15);
  }

  @include device('mobile') {
    background-color: rgba($primary-2, 0.05);
    box-shadow: 0 0 0.2em 0.2em rgba($primary-1, 0.1);
  }
}
