@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');

:root {
  font-family: 'Recursive', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variation-settings:
    "MONO" 0.2,
    "CASL" 0.1,
    "slnt" 0,
    "CRSV" 0.5;

  @include devices('mobile', 'tablet') {
    font-size: 14px;
  }
}

html {
  background-color: $black;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.text-highlight {
  color: $primary-1;
  text-shadow: 0 0 1.5em rgba($primary-1, 0.5);
}

a {
  padding: 0.25rem;
  transition: all 0.2s ease-in-out;
  color: $primary-2;
  text-shadow: 0 0 1.5em rgba($primary-2, 0.5);

  &:hover {
    color: $primary-1;
  text-shadow: 0 0 1.5em rgba($primary-1, 0.5);
  }
}

.card {
  background-color: transparent;

  &:hover {
    background-color: rgba($primary-2, 0.05);
    box-shadow: 0 0 0.2em 0.2em rgba($primary-1, 0.15);
  }

  @include device('mobile') {
    background-color: rgba($primary-2, 0.05);
    box-shadow: 0 0 0.2em 0.2em rgba($primary-1, 0.1);
  }
}
