@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

html {
  overflow: hidden;
}

.text-highlight {
  color: $primary-1;
  text-shadow: 0 0 1.5em rgba($primary-1, 0.65);
}
