#project-details {
  max-width: 75ch;
  margin: 4em 2em;
  text-align: justify;
}

#project-details > * {
  height: auto;
  width: 100%;
  margin: 1em 0;
  max-width: 75ch;
}

#project-details img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 50vh;
  object-fit: cover;
  margin: auto;
}

ul, ol {
    width: calc(100% - 4em) !important;
    padding: 0 2em;
}

hr {
    margin: 2em 0 !important;
}