@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
  color: var(--text-primary);
}

:root {
  font-size: 20px;
  --primary: hsl(184, 70%, 35%);
  --text-primary: hsl(184, 30%, 80%);
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--primary);
}

.text-mono, .text-mono * {
  font-family: 'Source Code Pro', monospace;
}

.text-bold{
  font-weight: bold;
}

[data-aos][data-aos][data-aos-delay='5000'].aos-animate {
	transition-delay: 5000ms;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[id^=section-] {
  width: 100%;
  min-height: 100vh;
  border-bottom: solid 1px hsla(0, 0%, 50%, 0.3);
}

#scroll-down {
  position: absolute;
  bottom: 8vh;
}

.arrow {
  width: 1.5em;
  height: 1.5em;
  border-bottom: solid 3px var(--text-primary);
  border-right: solid 3px var(--text-primary);
  transform: rotate(45deg);
}

#section-2 {
  justify-content: space-evenly;
}

#section-2 > *:nth-child(odd) {
  text-align: left;
}

#section-2 > *:nth-child(even) {
  text-align: right;
}

#section-2 > * {
  width: 80%;
  height: 20vh;
  margin: 0 auto;
  padding: 2em;
}