* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    background: #dce0ff;
    padding: 1rem;
}

.left, .right {
    display: block;
    padding: 1rem 0;
    width: 100%;
}

@media screen and (min-width: 768px) {    
    .container {
        flex-direction: row;
        margin: 1rem auto;
        max-width: 120ch;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 20px 0px #06067a80;
        -moz-box-shadow: 0px 0px 20px 0px #06067a80;
        box-shadow: 0px 0px 20px 0px #06067a80;
    }

    .left {
        padding: 1rem;
        width: 30%;
    }

    .right {
        padding: 1rem;
        width: 70%;
    }

    nav {
        -webkit-box-shadow: 0px 0px 20px 0px #06067a80;
        -moz-box-shadow: 0px 0px 20px 0px #06067a80;
        box-shadow: 0px 0px 20px 0px #06067a80;
    }

    nav ul {
        flex-direction: row !important;
    }

    nav ul li a {
        border-bottom: 1px solid #060679;
    }

    nav ul li a:hover {
        border-bottom: 2px solid #060679;
    }
}

p, h1, h2, h3, h4, h5, a {
    display: block;
    margin: 0 0 1em 0;
    color: #060679;
    text-align: justify;
}

hr {
    margin: 1rem 0 1.2rem 0;
    color: #9797fa;
    border-color: #9797fa;
    opacity: 50%;
}

a {
  color: #0b0bda;
}

a:visited {
  color: #040449;
}

a:hover {
    font-weight: 700;
}

img {
    display: block;
    max-height: 50ch;
    width: auto;
    max-width: 100%;
    margin: 1rem auto;
}

ul {
    margin: 0 2em;
}

li {
    color: #060679;
    margin: 0.5em 0;
}

nav {
    background: #dce0ff;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
    border-bottom: 1px solid #060679;
}

nav ul li a::before {
    content: "> ";
    font-size: 0.8em;
}